<div class="pokedex">
  <div class="top-bar">
    <img src="../assets/top-start.png" class="top-bar-start">
    <div class="top-bar-middle"></div>
    <img src="../assets/top-end.png" class="top-bar-end">
  </div>
  <div class="container">
    <app-details/>
  </div>
  <div class="bottom-bar">
    <div class="bottom-bar-start"></div>
    <img src="../assets/bottom-end.png" class="bottom-bar-end">
  </div>
  <div class="navegation">
    <button id="back_bt">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36" height="36">
        <path fill="none" d="M0 0h24v24H0z" />
        <path d="M8 12l6-6v12z" />
      </svg>
    </button>
    <div class="pokemon_board">
      <template #pokemonBoard></template>
    </div>
    <button id="next_bt">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36" height="36">
        <path fill="none" d="M0 0h24v24H0z" />
        <path d="M16 12l-6 6V6z" />
      </svg>
    </button>
  </div>
</div>